{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-class-properties",
    "babel-plugin-styled-components"
  ]
}